@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.text {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 30px auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 75px;
  width: 290px;
  position: relative;
  border-radius: 5px;
}

.section {
  padding: 0 170px;
}

.heading {
  font-size: 30px;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  position: relative;
  padding: 60px 0 30px 0;
  letter-spacing: 4px;
}

.heading::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 4px;
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -50px;
  background-color: rgba(0, 0, 0, 0.1);
}

.home {
  background-color: #87509c;
  padding: 0 170px 150px;
}

.home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.home__header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__header_nav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__header_nav ul li {
  padding: 0 15px;
}

.home__header_nav ul li a {
  padding: 0 15px;
  text-decoration: none;
  height: 35px;
  width: 75px;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #87509c;
  border-radius: 5px;
  -webkit-transition: background-color, ease-in-out 0.3s;
  transition: background-color, ease-in-out 0.3s;
}

.home__header_nav ul li a:hover {
  background-color: #673e7c;
  cursor: pointer;
}

.home__text {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 40px;
  width: 910px;
  text-align: center;
  margin: 140px auto 50px;
}

.home__btn {
  top: 0;
  color: #fff;
  background-color: #eb7d4b;
  -webkit-box-shadow: 0 5px 0 #cc6e56;
          box-shadow: 0 5px 0 #cc6e56;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.home__btn:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #b95f48;
          box-shadow: 0 3px 0 #b95f48;
  background-color: #ff8851;
  cursor: pointer;
}

.services {
  background-color: #17c2a4;
  color: #fff;
}

.services__text {
  max-width: 600px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 70px 0 120px 0;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  width: 200px;
}

.services__item_icon {
  margin: 0 0 30px 0;
}

.services__item_caption {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.services__item_text {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.25;
}

.team {
  background-color: #e7f1f8;
  color: #3c4761;
}

.team__heading {
  margin: 0 0 20px 0;
}

.team__text {
  margin: 0 0 80px 0;
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0 120px 0;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 250px;
  padding: 0 0 50px 0;
  position: relative;
}

.team__item_avatar {
  width: 200px;
  height: 200px;
  background-color: #878787;
  border-radius: 50%;
  margin: 0 0 40px 0;
}

.team__item_name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.team__item_position {
  color: #30bae7;
  margin: 0 0 15px 0;
}

.team__item_text {
  width: 200;
  line-height: 1.5;
}

.team__item_socials {
  position: absolute;
  bottom: 0;
}

.team__item_socials a img {
  margin: 0 5px;
}

.skills {
  color: #3c4761;
  font-family: "Titillium Web", sans-serif;
}

.skills__text {
  margin: 20px auto;
  font-size: 16px;
  max-width: 580px;
  text-align: center;
}

.skills__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0 120px 0;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills__progress {
  margin: 0 0 30px 0;
}

.skills__name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.portfolio {
  background-color: #ffdd99;
  font-family: "Titillium Web", sans-serif;
  color: #393939;
  padding: 0 170px 110px;
}

.portfolio__text {
  width: 520px;
}

.portfolio__nav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 60px 0;
}

.portfolio__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__nav ul li {
  padding: 0 5px;
}

.portfolio__nav ul li a {
  padding: 0 15px;
  text-decoration: none;
  height: 35px;
  width: 75px;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  color: #393939;
  background-color: #ebc985;
  border-radius: 5px;
  -webkit-transition: background-color, ease-in-out 0.3s;
  transition: background-color, ease-in-out 0.3s;
}

.portfolio__nav ul li a:hover {
  background-color: #fff;
  cursor: pointer;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item {
  margin: 0 10px;
}

.portfolio__name {
  text-align: center;
  margin: 30px 0 60px 0;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.portfolio__btn {
  top: 0;
  color: #fff;
  background-color: #17c2a4;
  -webkit-box-shadow: 0 5px 0 #14a58c;
          box-shadow: 0 5px 0 #14a58c;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.portfolio__btn:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #118d78;
          box-shadow: 0 3px 0 #118d78;
  background-color: #16aa8f;
  cursor: pointer;
}

.reviews {
  background-color: #d74680;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 30px 0;
  margin: 70px 0 0 0;
}

.reviews__item {
  max-width: 450px;
  margin: 0 50px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0 60px 0;
}

.reviews__item-review {
  margin: 0 0 0 20px;
}

.reviews__item-text {
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 200;
}

.reviews__person {
  position: absolute;
  bottom: 0;
}

.reviews__name {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-size: 20px;
}

.reviews__position {
  color: #ffdd99;
  font-size: 20px;
}

.feedback {
  background-color: #3c5499;
  color: #fff;
}

.feedback__heading::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
}

.feedback__form {
  max-width: 850px;
  margin: 80px auto 0;
  padding: 0 0 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__input {
  font-family: "Titillium Web", sans-serif;
  background-color: #273a71;
  width: 400px;
  height: 60px;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
}

.feedback__input::-webkit-input-placeholder {
  color: #fff;
  text-indent: 0px;
  -webkit-transition: text-ident, 0.3s ease;
  transition: text-ident, 0.3s ease;
}

.feedback__input:-ms-input-placeholder {
  color: #fff;
  text-indent: 0px;
  -webkit-transition: text-ident, 0.3s ease;
  transition: text-ident, 0.3s ease;
}

.feedback__input::-ms-input-placeholder {
  color: #fff;
  text-indent: 0px;
  -webkit-transition: text-ident, 0.3s ease;
  transition: text-ident, 0.3s ease;
}

.feedback__input::placeholder {
  color: #fff;
  text-indent: 0px;
  -webkit-transition: text-ident, 0.3s ease;
  transition: text-ident, 0.3s ease;
}

.feedback__input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-ident, 0.3s ease;
  transition: text-ident, 0.3s ease;
}

.feedback__input:focus:-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-ident, 0.3s ease;
  transition: text-ident, 0.3s ease;
}

.feedback__input:focus::-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-ident, 0.3s ease;
  transition: text-ident, 0.3s ease;
}

.feedback__input:focus::placeholder {
  text-indent: 500px;
  -webkit-transition: text-ident, 0.3s ease;
  transition: text-ident, 0.3s ease;
}

.feedback__textarea {
  font-family: "Titillium Web", sans-serif;
  background-color: #273a71;
  color: #fff;
  border-radius: 5px;
  width: 850px;
  min-height: 60px;
  height: 200px;
  margin: 30px auto 60px;
  padding: 20px;
  resize: vertical;
}

.feedback__textarea::-webkit-resizer {
  display: none;
}

.feedback__textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity, 0.3s ease;
  transition: opacity, 0.3s ease;
}

.feedback__textarea:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity, 0.3s ease;
  transition: opacity, 0.3s ease;
}

.feedback__textarea::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity, 0.3s ease;
  transition: opacity, 0.3s ease;
}

.feedback__textarea::placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity, 0.3s ease;
  transition: opacity, 0.3s ease;
}

.feedback__textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity, 0.3s ease;
  transition: opacity, 0.3s ease;
}

.feedback__textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity, 0.3s ease;
  transition: opacity, 0.3s ease;
}

.feedback__textarea:focus::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity, 0.3s ease;
  transition: opacity, 0.3s ease;
}

.feedback__textarea:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity, 0.3s ease;
  transition: opacity, 0.3s ease;
}

.feedback__btn {
  background-color: #30bae7;
  color: #fff;
  top: 0;
  -webkit-box-shadow: 0 5px 0 #1f90b6;
          box-shadow: 0 5px 0 #1f90b6;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.feedback__btn:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #1c6e8a;
          box-shadow: 0 3px 0 #1c6e8a;
  background-color: #2b9fc5;
  cursor: pointer;
}

.footer {
  min-height: 100px;
  background-color: #344b8e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 25px;
  -webkit-transition: color, 0.3s ease;
  transition: color, 0.3s ease;
}

.footer__link:hover {
  color: #30bae7;
  -webkit-transition: color, 0.3s ease;
  transition: color, 0.3s ease;
  cursor: pointer;
}
