@import "zerostyles";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700&display=swap");

.wrapper {
}

.container {
}

.text {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 30px auto;
}

.btn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 75px;
  width: 290px;
  position: relative;
  border-radius: 5px;
  @media (max-width: 375px) {
    height: 50px;
    width: 250px;
    font-size: 16px;
  }
}

.section {
  padding: 0 170px;
  @media (max-width: 1440px) {
    padding: 0 20px;
  }
  @media (max-width: 320px) {
    padding: 0 10px 50px;
  }
}

.heading {
  font-size: 30px;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  position: relative;
  padding: 60px 0 30px 0;
  letter-spacing: 4px;

  &::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -50px;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
}

body.lock {
  @media (max-width: 830px) {
    overflow: hidden;
  }
}

.home {
  background-color: #87509c;
  padding: 0 170px 150px;
  @media (max-width: 1024px) {
    padding: 0 20px 100px;
  }
  @media (max-width: 320px) {
    padding: 0 10px 50px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #87509c;
    @media (max-width: 830px) {
      height: 100%;
    }
  }

  &__burger {
    display: none;
    @media (max-width: 830px) {
      display: block;
      width: 30px;
      height: 20px;
      margin: 8px 0;
      position: relative;
      z-index: 5;
      &::before {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 0;
        transition: all 0.3s ease 0s;
      }

      & span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      &::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        transition: all 0.3s ease 0s;
      }
      &.active::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      &.active span {
        transform: scale(0);
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: #87509c;
    padding: 30px;
    position: relative;
    z-index: 2;

    @media (max-width: 830px) {
      background-color: #87509c;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 50;
      padding: 20px 10px;
    }

    &_logo {
      display: flex;
      align-items: center;
      flex: 0 0 36px;
      @media (max-width: 830px) {
        position: relative;
        z-index: 5;
      }
    }

    &_nav {
      height: 60px;
      display: flex;
      @media (max-width: 830px) {
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 300px;
        overflow: auto;
        background-color: rgba($color: #87509c, $alpha: 0.5);
        backdrop-filter: blur(8px);
        z-index: 3;
        transition: all 0.3s ease-in-out 0s;
      }
      &.active {
        top: 0;
      }
      & ul {
        display: flex;
        align-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        @media (max-width: 830px) {
          display: block;
          padding: 100px 0 0 0;
          text-align: center;
        }

        & li {
          padding: 0 15px;
          @media (max-width: 830px) {
            margin: 0 0 20px 0;
          }

          & a {
            padding: 0 15px;
            text-decoration: none;
            height: 35px;
            width: 75px;
            text-transform: uppercase;
            font-family: "Titillium Web", sans-serif;
            font-size: 16px;
            color: #fff;
            background-color: #87509c;
            border-radius: 5px;
            transition: background-color, ease-in-out 0.3s;
            @media (max-width: 830px) {
              background-color: rgba($color: #87509c, $alpha: 0);
              // backdrop-filter: blur(6px);
            }

            &:hover {
              background-color: #673e7c;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__text {
    color: #fff;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-size: 40px;
    max-width: 910px;
    text-align: center;
    margin: 140px auto 50px;
    position: relative;
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__btn {
    top: 0;
    color: #fff;
    background-color: #eb7d4b;
    box-shadow: 0 5px 0 #cc6e56;
    transition: all ease-in-out 0.3s;

    &:hover {
      top: 2px;
      box-shadow: 0 3px 0 #b95f48;
      background-color: #ff8851;
      cursor: pointer;
    }
  }
}

.services {
  background-color: #17c2a4;
  color: #fff;
  position: relative;

  &__heading {
  }

  &__text {
    max-width: 600px;
  }

  &__items {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0 120px 0;
    @media (max-width: 768px) {
      padding: 20px 0 50px 0;
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: 768px) and (max-width: 830px) {
      padding: 20px 100px 50px;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    width: 200px;

    @media (max-width: 768px) {
      margin: 20px 0;
    }

    &_icon {
      margin: 0 0 30px 0;
    }

    &_caption {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      margin: 0 0 15px 0;
    }

    &_text {
      font-size: 16px;
      font-weight: 100;
      line-height: 1.25;
    }
  }
}

.team {
  background-color: #e7f1f8;
  color: #3c4761;

  &__heading {
    margin: 0 0 20px 0;
  }

  &__text {
    margin: 0 0 80px 0;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    padding: 0 0 120px 0;
    @media (max-width: 768px) {
      padding: 0px 0 50px 0;
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: 768px) and (max-width: 830px) {
      padding: 20px 70px 50px;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    font-family: "Titillium Web", sans-serif;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    padding: 0 0 50px 0;
    position: relative;
    margin: 10px 0;

    @media (max-width: 768px) {
      margin: 20px 0;
    }

    &_avatar {
      width: 200px;
      height: 200px;
      background-color: #878787;
      border-radius: 50%;
      margin: 0 0 40px 0;
      @media (max-width: 740px) {
        width: 100px;
        height: 100px;
      }
    }

    &_name {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      margin: 0 0 10px 0;
    }

    &_position {
      color: #30bae7;
      margin: 0 0 15px 0;
    }

    &_text {
      width: 200;
      line-height: 1.5;
    }

    &_socials {
      position: absolute;
      bottom: 0;

      & a {
        & img {
          margin: 0 5px;
        }
      }
    }
  }
}

.skills {
  color: #3c4761;
  font-family: "Titillium Web", sans-serif;

  &__heading {
  }

  &__text {
    margin: 20px auto;
    font-size: 16px;
    max-width: 580px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 120px 0;
    @media (max-width: 768px) {
      padding: 0px 0 50px 0;
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: 768px) and (max-width: 830px) {
      padding: 20px 100px 50px;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__progress {
    margin: 0 0 30px 0;
  }

  &__name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
  }
}

.portfolio {
  background-color: #ffdd99;
  font-family: "Titillium Web", sans-serif;
  color: #393939;
  padding: 0 170px 110px;
  @media (max-width: 768px) {
    padding: 0 20px 50px;
  }
  @media (max-width: 320px) {
    padding: 0 10px 50px;
  }

  &__heading {
  }

  &__text {
    max-width: 520px;
  }

  &__nav {
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 0 0 60px 0;

    & ul {
      display: flex;
      align-content: center;
      align-items: center;
      & li {
        padding: 0 5px;
        @media (max-width: 320px) {
          padding: 0 2px;
        }

        & a {
          padding: 0 15px;
          text-decoration: none;
          height: 35px;
          width: 75px;
          text-transform: uppercase;
          font-family: "Titillium Web", sans-serif;
          font-size: 16px;
          color: #393939;
          background-color: #ebc985;
          border-radius: 5px;
          transition: background-color, ease-in-out 0.3s;
          @media (max-width: 320px) {
            font-size: 14px;
          }

          &:hover {
            background-color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin: 0 10px;
    & img {
      @media (max-width: 768px) {
        max-width: 300px;
      }
      @media (max-width: 320px) {
        max-width: 250px;
      }
    }
  }

  &__name {
    text-align: center;
    margin: 30px 0 60px 0;
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
  }

  &__btn {
    top: 0;
    color: #fff;
    background-color: #17c2a4;
    box-shadow: 0 5px 0 #14a58c;
    transition: all ease-in-out 0.3s;

    &:hover {
      top: 2px;
      box-shadow: 0 3px 0 #118d78;
      background-color: #16aa8f;
      cursor: pointer;
    }
  }
}

.reviews {
  background-color: #d74680;
  color: #fff;
  font-family: "Titillium Web", sans-serif;

  &__heading {
  }

  &__text {
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 30px 0;
    margin: 70px 0 0 0;
  }

  &__item {
    max-width: 450px;
    margin: 0 50px 140px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 60px 0;
    @media (max-width: 768px) {
      padding: 0 0 100px 0;
      margin: 0 50px 140px;
      flex-direction: column;
    }
    @media (max-width: 375px) {
      padding: 0 0 80px 0;
      margin: 0 50px 50px;
    }
  }

  &__avatar {
    @media (max-width: 375px) {
      width: 60px;
    }
    @media (max-width: 768px) {
      margin: 0 0 20px 0;
    }
    & img {
      @media (max-width: 375px) {
        width: 60px;
      }
    }
  }

  &__item-review {
    margin: 0 0 0 20px;
  }

  &__item-text {
    font-family: "Titillium Web", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 200;
    @media (max-width: 375px) {
      font-size: 16px;
    }
  }

  &__person {
    position: absolute;
    bottom: 0;
  }

  &__name {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    font-size: 20px;
    @media (max-width: 375px) {
      font-size: 16px;
    }
  }

  &__position {
    color: #ffdd99;
    font-size: 20px;
    @media (max-width: 375px) {
      font-size: 16px;
    }
  }
}

.feedback {
  background-color: #3c5499;
  color: #fff;

  &__heading {
    &::after {
      content: "";
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }

  &__text {
  }

  &__form {
    max-width: 850px;
    margin: 80px auto 0;
    padding: 0 0 120px 0;
    display: flex;
    flex-direction: column;
  }

  &__form-inputs {
    display: flex;
    justify-content: space-between;
    @media (max-width: 890px) {
      flex-direction: column;
    }
  }

  &__input {
    font-family: "Titillium Web", sans-serif;
    background-color: #273a71;
    width: 420px;
    height: 60px;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    @media (max-width: 890px) {
      width: 100%;
      margin: 5px 0;
    }

    &::placeholder {
      color: #fff;
      text-indent: 0px;
      transition: text-ident, 0.3s ease;
    }

    &:focus {
      &::placeholder {
        text-indent: 500px;
        transition: text-ident, 0.3s ease;
        @media (max-width: 890px) {
          text-indent: 850px;
        }
      }
    }
  }

  &__textarea {
    font-family: "Titillium Web", sans-serif;
    background-color: #273a71;
    color: #fff;
    border-radius: 5px;
    max-width: 850px;
    min-height: 60px;
    height: 200px;
    margin: 10px 0 60px;
    padding: 20px;
    resize: vertical;
    @media (max-width: 890px) {
      max-width: 850px;
      margin: 5px 0 60px;
    }

    &::-webkit-resizer {
      display: none;
    }

    &::placeholder {
      color: #fff;
      opacity: 1;
      transition: opacity, 0.3s ease;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
        transition: opacity, 0.3s ease;
      }
    }
  }

  &__btn {
    background-color: #30bae7;
    color: #fff;
    top: 0;
    box-shadow: 0 5px 0 #1f90b6;
    transition: all ease-in-out 0.3s;

    &:hover {
      top: 2px;
      box-shadow: 0 3px 0 #1c6e8a;
      background-color: #2b9fc5;
      cursor: pointer;
    }
  }
}

.footer {
  min-height: 100px;
  background-color: #344b8e;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  @media (max-width: 740px) {
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 25px;
    transition: color, 0.3s ease;
    @media (max-width: 740px) {
      font-size: 16px;
    }

    &:hover {
      color: #30bae7;
      transition: color, 0.3s ease;
      cursor: pointer;
    }
  }
}
